<!DOCTYPE html>
<html>
    <body>
        <p>Bonjour {{ user.username }},</p>

        <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

        <a href="{{ url }}">{{ url }}</a>

        <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>

        <p>Cordialement,</p>
        <p>L'équipe</p>
    </body>
</html>