{% extends 'base.html.twig' %}
{% block body %}
    <p> Bonjour {{user._username}}</p>
    <p> Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : 
        <a href=" {{url|raw}}"> {{url|raw}} </a>
        <p> Merci beaucoup</p>
        <p> Merci beaucodup</p>
    </p>
{% endblock %}