{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<section class="article">
		{% for prestataire in prestataires %}

			<article>
				<h2>{{prestataire.nom}}</h2>
				<div class="metadata">natao androany teto am SAHAZA</div>
				<div class="content">
					<img src="http:placehold.it/350x150" alt="">
					{{prestataire.adresse}}
					<a href="{{ path('app_show', {'id': prestataire.id}) }}" class="btn btn-primary">En savoir plus...</a>

				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
