*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-new-project {
    border: 1px dashed #0b98eb;
    cursor: pointer;
    width: 300px;
}
.add-new-project i {
    font-size: 35px;
}
.new-project {
  position: relative;
  border: 1px solid #005536;
  cursor: pointer;
  width: 300px;
  box-shadow: 5px 5px 20px 16px rgb(29 68 142 / 1);
  color: rgb(255,255,0);
}
.new-project .gear-icon {
    position: absolute;
    color: #00000093;
    display: none;
    top: 5%;
    right: 5%;
    font-size: 20px;
}
.show-gear {
    display: block !important;
}
.name {
    color: #0b98eb;
}
.delete-box {
    position: absolute;
    top: 10%;
    right: -55%;
    width: 150px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.397);
}
.archiver {
    border: 2px solid #ee0f46dc;
    padding: 5px 10px;
    color: #ee0f46dc;
    margin-bottom: 5px;
}
.supprimer {
    background: #ee0f46dc;
    padding: 5px 10px;
    color: #fff;
}


.invites_du_mariage {
    width: 50% !important;
  }

  .app_card {
    
    margin-left: 15px;
  }

  .listes_des_maries {
    overflow-y: scroll;
    margin-left: 10%;
  }

  