@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* menu-collaps-01 */
.box-mari{
  position: relative;
  
}
.arrow-icon{
  position: absolute;
  cursor: pointer;
  padding: 15px;
  top: 0;
  left: 0;
}
.pen-modif{
  position: absolute;
  display: none;
  cursor: pointer;
  padding: 15px;
  top: 0;
  right: 0;
}



/* menu-collaps-02 */
.box-about-event {
  position: relative;
  border-right: 1px solid #00000015;
  border-bottom: 1px solid #00000015;
  border-left: 1px solid #00000015;
}
.arrow-icon2 {
  position: absolute;
  cursor: pointer;
  padding: 15px;
  top: 0;
  left: 0;
}
.pen-modif2{
  position: absolute;
  display: none;
  cursor: pointer;
  padding: 15px;
  top: 0;
  right: 0;
}



/* menu-collaps-03 */
.add-guest {
  position: relative;
  border-right: 1px solid #00000015;
  border-bottom: 1px solid #00000015;
  border-left: 1px solid #00000015;
}
.add-guest a{
  background-color: #dd8090;
  color: #fff;
  padding: 5px 10px;
}
 .add-guest a:hover{
    border: 1px solid #dd8090;
    color: #dd8090;
    background: transparent;
    text-decoration: none;
} 
.arrow-icon3 {
  position: absolute;
  cursor: pointer;
  padding: 15px;
  top: 0;
  left: 0;
}
.pen-modif3 {
  position: absolute;
  display: none;
  cursor: pointer;
  padding: 15px;
  top: 0;
  right: 0;
}
.guest-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rotate{
  transform: rotate(-90deg);
}
.show-pen{
  display: block;
}


.add-guest-form input[type="text"]{
  outline: none;
  border-top: none;
  border-bottom: 2px solid #00000049;
  border-right: none;
  border-left: none;
  width: 50%;
}
.add-guest-form i {
  color: #0b98eb;
}
.btn-add-guest {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid #0b98eb;
  padding: 10px 20px;
  color: #0b98eb;
}

.btn-add-guest i {
  padding: 5px;
}
.guest-import {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.guest-import .btn-1 {
  border: 1px solid #01ac01;
  cursor: pointer;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  color: #01ac01;
  width: 300px;
  margin: 5px;
}
.guest-import .btn-2 {
  border: 1px solid #ee0f46dc;
  cursor: pointer;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  color: #ee0f46dc;
  width: 300px;
  margin: 5px;
}
.guest-import .btn-1 i {
  padding: 5px;
}
.guest-import .btn-2 i {
  padding: 5px;
}


/* Budget */
.budget-amount input[type = 'text']{
  background-color: #8080801e;
  border: none;
  outline: none;
}
.search {
  position: relative;
}
.search .filter{
  padding:5px 25px;
  outline: none;
  border: 1px solid #0b98eb;
  border-radius: 5px;
  width: 50%;
}
.search i.fa {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #00000086;
}

.beauty {
  position: relative;
  border-bottom: 1px solid #00000028;
}
.beauty h5 {
  margin-left: 20px;
  color: #0b98eb;
}
.beauty .arrow-budget {
  position: absolute;
  cursor: pointer;
  left: 5px;
}


.beautyChild01 input[type='text']{
  border: none;
  border-bottom: 2px solid #00000028;
  outline: none;
}
table {
  width: 100%;
}
table td {
  padding-bottom: 5px;
}

/* Prenstataire */
.add-prest{
  border: 1px dashed #0b98eb;
  width: 250px;
  cursor: pointer;
  color: #0b98eb;
}
.add-prest i{
  font-size: 35px;
  color: #0b98eb;
}
.card {
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  padding: 50px 10px;
  transition: 0.2s ease-in-out;
}
/* .card:hover{
  transform: scale(1.1);
  box-shadow: 6px 7px 5px -3px #0000003b;
} */
.card-1{
  color: #fff;
  background-image: url(assets/pictures/sakafo01.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-2{
  color: #fff;
  background-image: url(assets/pictures/sakafo02.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-3{
  color: #fff;
  background-image: url(assets/pictures/sakafo03.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-4{
  color: #fff;
  background-image: url(assets/pictures/sakafo01.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-1 img{
  width: 30px;
}
.card-1 .ellipsis{
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 5px;
}
.show-prest{
  position: absolute;
  width: 200px;
  padding: 5px 0px;
  background-color: #0b98eb;
  cursor: pointer;
  color: #fff;
  display: none;
  top: 4%;
  right: 12%;
}
.show-prest i{
  margin-right: 5px;
}



/* modal */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* background-color: rgb(0 0 0 / 12%); */
}

.modal-bloc {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 65%;
}
.modal-bloc span {
  position: absolute;
  top: 0%;
  padding-bottom: 20px;
  right: 1.8%;
  float: right;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.head-prest {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.about-prest {
  position: absolute;
  bottom: 5%;
  left:5%;
  color: #fff;
}
.scrollBar {
  height: 100vh;
  overflow: auto;
  
}
.bg-modal {
  background: #fff;
  box-shadow: 0px 0px 133px 8px rgba(117,116,117,1);
}
.btnBloc button {
  padding: 8px 18px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.btnBloc button:focus, button:active {
  outline: none;
}
.btnBloc .btn01 {
  background-color: #0b98eb;
}
.btnBloc .btn02 {
  background-color: #dd8090;
}
.btnBloc i {
  color: #0b98eb;
  margin-right: 5px;
}

.btn-add-guestH {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid #0b98eb;
  padding: 10px 20px;
  color: #0b98eb;
}
.btn-add-guestF {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid #0b98eb;
  padding: 10px 20px;
  color: #0b98eb;
}
.btn-add-guestH:focus {
  outline: none;
}
.btn-add-guestF:focus {
  outline: none;
} 

.selectBlocH {
  position: absolute;
  width: 200px;
  padding: 10px;
  display: none;
  right: 29%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.397);
  cursor: pointer;
  z-index: 1;
  }
  .selectBlocF {
  cursor: pointer;
  position: absolute;
  width: 200px;
  padding: 10px;
  display: none;
  right: 34%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.397);
  cursor: pointer;
  z-index: 1;
}

#valide {
  display: inline-block;  
}

#newinput_garcon_dhonneur {
  margin-top: 10px;
}

.app_mariage_modif {
  display: inline-block;
}


* {
  margin: 0;
  padding: 0;
}
body {
  
  font-family: verdana;
}
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 1;
  .popup__content {
    width: 80%;
    overflow:auto;
    padding: 50px;
    background: white;
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      display: block;
      span {
        cursor: pointer;
        position: fixed;
        width: 22px;
        height: 24px;       
        background-color: #000;
        border-radius: 50%;
        color: #fff;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(135deg);
        }
      }
    }
  }
}
button {
  background: #099ccc;
  color: white;
  margin: 30px;
  padding: 5px 30px;
  cursor: pointer;
  border: none;
}

.app_budget {
  background-color: cornsilk;
  box-shadow: black;
  box-sizing: unset;
  border-radius: 5px;
}

.card.mt-3.col-md-3 {
  margin-left: 1rem;
}

.sign_retour {        
  font-size: 64px;
  position: absolute;
  left: 21%;
  color: red;
  text-align: center;        
  padding: 7px;
  z-index: 1;
  margin-top: -34px;
}

.navbar_app{
  background-color: #faebd7 !important;
  height: 100px;
}

._app_mariage {
  border-radius: 20px;
  border: 1px solid !important;
  padding: 15px 24px !important;
  font-size: 21px !important;
  color: brown !important;
  text-align: center !important;
  text-transform: lowercase !important;
  margin-left:15px !important;
}


._app_mariage.app_mariage_nom {
  color: cadetblue !important;
  text-transform: capitalize !important;
  font-size: 37px !important;
}

._app_mariage.repondre_app_mariage {
  margin-right: 15px;
}

._app_mariage:hover {
  background-color: antiquewhite !important;  
  opacity: 0.60 !important;
}

._app_mariage.icons_svg_app_mariage {
  border: transparent !important;
}

.connexion_app_mariage {
  font-size: 17px !important;
  display: contents !important; 
}

.icons_svg_app_mariage:hover {
  background-color: transparent !important;
}

.app_mariage_wh {
  color: #fff !important;
  position: relative !important;
  width: calc(100% - 1em) !important;
  height: calc(100%-1em) !important;

}
.titre_app_nom {
  font-size: 150px;
  text-align: center;
  text-transform: capitalize;
  color: color-mix !important;
  font-family: inherit;
  background-color: rgba(100, 210, 100, 0.5);
  border-radius: 10px;
}

.lieux_de_ceremonie_app {  
  border-color: crimson !important; 
  border-radius: 50px !important;
  border: 2px solid;
  height: 50% !important;
  text-align: center;
  width: calc(100% - 44em);  
  background-color: #fff !important;
  color: blue !important;
}

.jrs-j {
  background-color: rgba(255, 0, 200, 0.4);
  width: calc(100% - 41em);
  border-radius:50px;
}

.week-app-mariage {
  background-color: #ac5e23;
  color: #fff;
  position: inherit;
  height: 500px;
}

.week-date {
  text-align: center;
  padding: 10%;
}
.app-alliance {
  padding: 7%;
  text-align: center;
}

.week_comment{
  padding: 10%;
  font-size:22px !important;
  text-align: center;
}
.l_titre {
  font-size: 14px; 
  text-align: match-parent;
}

.ceremonie-lieu {
  position: relative;
  top: -50px;
  text-align: center;
}

.img_svg_image {
  height: 50px;
}
.app_active_settings {
  text-align: end;
  margin-right: 44px; 
}

.app_active_settings_items {
  background-color: rgba(150, 158, 136, 0.5) !important;  
}
.link_app {
  color: white !important;
  font-size: 16px;
  text-transform: initial;
  font-family: inherit;
}
.settings {
  background-color: antiquewhite;
}

.link_app:hover { 
  color: #ffffff !important;
  text-decoration: none;
  background-color: #92a5b3 !important;
}

.footer_wedding {
  background-color: #ac5e23;
  color: #fff;
  position: inherit;
  height: 500px;
  padding-top: 5%;
  line-height: 10px;
}

.mariage_hf {
  text-transform: uppercase;
  font-size: 100px;
  font-family: initial;
  text-shadow: 2px 2px #15ffff, -4px 0px aqua;
}


.ul_menu_app {
  line-height: normal; 
}

.ancre_app_menu {
  color: #fff !important; 
  text-decoration: none;
  list-style: circle;
}
.prestataire_mariage_app {
  background-color: #ac5e23;
  padding: 10px;
}

.liste_prestataire_plus_suivre {
  color: antiquewhite;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 4px;
}
.card_app_mariage {
  padding: 0px;
  border-radius: 2px !important;
  border: 0px; 
}
.price_h1 {
  color: #ac5e23;
}
.btn_commande_app {
  background-color: #ac5e23 !important;
  border: 2px solid #ac5e23 !important;
}
.btn_commande_app:hover{
  background-color: #ac5e23 !important;
  border: 2px solid #ac5e23 !important;
}