
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.head .logo {
    text-decoration: none;   
    color: #000;
    font-family: 'Qwigley';
    color: blue;
    font-size: 30px;
}
.head ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head ul li {
    list-style: none;
}
.head ul li a {
    color: #fff;
    text-decoration: none;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}
.btn-bloc .btn-1{
    color: #fff;
    background: #dd8090;
    padding: 6px 12px;
    text-decoration: none;
}
.btn-bloc .btn-2{
    background: #0b98eb;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
}
.pic-landing img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
.text-landing a {
    background: #0b98eb;
    color: #ffff;
    padding: 10px 15px;
    text-decoration: none !important;
}
.text-landing a:hover{
    background-color: transparent;
    border: 1px solid #dd8090;
    color: #dd8090;
}
.blob-2 {
    position: absolute;
    width: 760px;
    top: -40%;
    right: -10%;
    z-index: -1;
}
.spacer {
    height: 150px;
}
.box-icon .icon{
    font-size: 50px;
    color: #00000071;
}
.btn-parti a{
    color: #fff;
    background: #dd8090;
    padding: 8px 15px;
    text-decoration: none !important;
}
.btn-parti a:hover{
    color: #fff;
}
.reseau-sociaux span{
    margin: 5px;
}

.wrapper-img{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloc-img{
    width: 750px;
    display: flex;
    justify-content: space-evenly;

}
.bloc-img .img-1, .img-2{
    border: 1px solid #0000003b;
    cursor: pointer;
    width: 250px;
    text-align: center;
    padding: 50px 0px;
}
.bloc-img .img-1 img {
    width: 250px;
}
.bloc-img .img-2 img {
    width: 250px;
}
.bloc-img .img-1:hover{
    -webkit-box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.356);
-moz-box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.322);
box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.253);
}
.bloc-img .img-2:hover{
    -webkit-box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.356);
-moz-box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.322);
box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.253);
}