<div class="form-app">
    <div class="form-appli">
        <form action="" method="post">
            {{ form_row(form.FichierCsv, {'class':'form_app_appli'}) }}
            <button class="btn btn-success">Enregistrer</button>
        </form>
    </div>
</div>

<style>
    .form-app {
  background-color: rgba(232, 255, 178, 0.5);
  border-radius: 5px;
  border: 1px solid; 
  border-color: bisque;
}

.form-appli {
  text-align: center;
  color: rgb(74,96,40);
}


</style>
